/* Se define un conjunto de reglas de estilo para el elemento contenedor-botones
que lo muestra como un contenedor flex con espacio interior (padding) de 40px,
con envoltura flexible (flex-wrap), centrando los elementos con justify-content,
espacio entre los elementos con gap y sin especificar la dirección de flexión.
*/
.contenedor-botones {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Se define un conjunto de reglas de estilo para los elementos button
que los muestra como botones con un padding específico, un radio de borde de 100px,
un color de texto y de fondo específicos, sin borde, con un cursor y una fuente específicos,
y una transición de estilo de duración de 0.3 segundos.
*/
button {
  display: block;
  padding: 10px 30px;
  border-radius: 100px;
  color: #fff;
  border: none;
  background: #1766dc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.3s ease all;
}

/* Se define un conjunto de reglas de estilo para los elementos button:hover
que los muestra con un color de fondo diferente al pasar el cursor por encima.
*/
button:hover {
  background: #0066ff;
}
